*{
    background-color: #FFE7DC;
} 
#navbar{
    font-family: 'Bauhaus 93', sans-serif;
    border-bottom-color: #F43127;
    border-bottom:2px solid #F43127;
}
#navbar img{
    width: 130px;
}
h1 span{
    text-decoration: underline;
    text-decoration-color: #FDC913;
    color: #F43127;
}
.img1{
    width: 120px;
    margin-right: -40px;
    margin-left: -20px;
    margin-bottom: 20px;
}
.img2{
    width: 80px;
    margin-bottom: 20px;
}

